.rafaflix{
    color: green;
    background-color: black;
    font-size: 25px;
    border-bottom: solid 2px green; 
    padding: 20px;
    text-align: center;
}

body{
    background-color: black;
    margin: 0px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 100px;
}

.chamada{
    background-color: cornsilk;
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
}

.conteudo{
    padding: 20px;
}

 .filmeseries{
    display: flex;
    text-align: center;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
 }

 .categoria img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, opacity 0.3s;
 }

 .categoria img:hover{
    transform: scale(1.05);
    border: 5px green;
 }
 .categoria {
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
 }

.categoria h2{
    padding: 10px;
}

iframe{
    border-radius: 10px;
    max-width: 100%;
}



